/* src/components/ProductList.css */
.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .product-card {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .product-card img {
    width: 100px;
    height: 120px;
    object-fit: contain;
    margin-bottom: 10px;
  }
  
  .product-card h2 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .product-card p {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .product-card button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .product-card button:hover {
    background-color: #218838;
  }
  .search-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  .searchbox{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
  }